.container {
    position: absolute;
    top: 4.6rem;
    left: -4rem;
    min-width: 9rem;
    border-radius: 6px;
    border: 1px solid var(--clr-border-color-3);
    box-shadow: rgb(17 17 26 / 10%) 0px 0px 16px;
    background: var(--clr-white);
    overflow: hidden;
    ul {
        list-style: none;
        padding: 0.5rem 0;
        a {
            all: unset;
        }
        li {
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:not(:last-child) {
                border-bottom: 1px solid #f0f0f0;
            }
            &:hover {
                background: var(--clr-primary-light);
            }
        }
    }
}
