@import url(https://github.com/neogcamp/mockman);

:root {
  --clr-primary-dark: #008081cc;
  --clr-primary-light: #008081aa;
  --clr-primary: #042f2e;
  --clr-primary-1: #C4EADA;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  line-height: 1.5em;
}

*,
*::before,
*::after {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: calc(100vh - 100px);
}

.like-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  color: var(--clr-red);
  border: 1px solid #ebebeb;
  @media (hover: hover) {
    &:hover {
      background: #f4f4f4;
      color: var(--clr-red);
      transform: scale(1.1);
    }
  }
  &:active {
    transform: scale(0.9);
  }
}

.toast-container {
  top: 5.5rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  bottom: 0;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--clr-gray-4);
  border-radius: 100%;
  background: var(--clr-white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--clr-primary);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 4rem;
    height: 4rem;
  }
}
