.slider {
    position: relative;
    width: 200px;
    &__track,
    &__range,
    &__left-value,
    &__right-value {
        position: absolute;
    }
    &__track,
    &__range {
        border-radius: 3px;
        height: 5px;
    }
    &__track {
        background-color: var(--clr-gray-4);
        width: 100%;
        z-index: 1;
    }

    &__range {
        background-color: var(--clr-primary);
        z-index: 2;
    }
    &__left-value,
    &__right-value {
        font-size: 12px;
        margin-top: 20px;
    }

    &__left-value {
        left: 6px;
    }

    &__right-value {
        right: -4px;
    }
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
    &--zindex-3 {
        z-index: 3;
    }

    &--zindex-4 {
        z-index: 4;
    }

    &--zindex-5 {
        z-index: 5;
    }

    /* For Chrome browsers */
    &::-webkit-slider-thumb {
        background-color: var(--clr-primary);
        border: none;
        border-radius: 50%;
        border: 2px solid var(--clr-white);
        box-shadow: 0 0 1px 1px #ebe8e8;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-top: 2px;
        pointer-events: all;
        position: relative;
    }

    /* For Firefox browsers */
    &::-moz-range-thumb {
        background-color: #f1f5f7;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px #ced4da;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-top: 4px;
        pointer-events: all;
        position: relative;
    }
}
